<!DOCTYPE html>
<html>
<title>Уеб Сайт Изработка</title>
<meta name="description" content="Изработка и уеб дизайн на малки и големи фирмени сайтове. Вътрешна оптимизация за търсачки. Изработка на фирмено лого"
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/styles.css">
<script src="/static/script.js"></script>

<body id="myPage">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Контакти</a>
  <a href="#pricing" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Цени</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#contact" class="w3-bar-item w3-button">Контакти</a>
    <a href="#pricing" class="w3-bar-item w3-button">Цени</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="static/pics/header2.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  <div id="web">Web</div>
  <div id="design">Design</div>
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">
    <button class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Контакти"><a href="#contact" style="text-decoration:none" >Свържете се с нас!</a></button>
  </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>Услуги:</h2>
<p></p>

<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="static/pics/dev.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Изработка на Уеб Сайт</h3>
  <p></p>
</div>

<div class="w3-quarter">
  <img src="static/pics/seo.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>SEO Услуги</h3>
  <p>Оптимизация за Търсачки</p>
</div>

<div class="w3-quarter">
  <img src="static/pics/tech.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Техническа Поддръжка</h3>
  <p>24/7</p>
</div>

<div class="w3-quarter">
  <img src="static/pics/logo.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Дизайн на Фирмено Лого</h3>
  <p></p>
</div>

</div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter">
<h2>Примерни сайтове:</h2>
<p>Можем да Ви помогнем с богато разнообразие от решения за Вашето онлайн присъствие. Изработваме най-различни сайтове - от малки фирмени сайтове до големи онлайн магазини. <a href="#contact">Обадете ни се</a> за безплатна консултация и оферта!</p>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="static/pics/site1.jpg" alt="Snow" style="width:100%">
  <div class="w3-container">
  <h3></h3>
  <h4></h4>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="static/pics/site2.jpg" alt="Lights" style="width:100%">
  <div class="w3-container">
  <h3></h3>
  <h4></h4>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="static/pics/site3.jpg" alt="Mountains" style="width:100%">
  <div class="w3-container">
  <h3></h3>
  <h4></h4>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  </div>
  </div>
</div>

</div>

<!-- Pricing Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="pricing">
    <h2>Цени:</h2>
    <p>Най-добрите цени за уеб сайтове!</p><br>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Малък Сайт</p>
        </li>
        <li class="w3-padding-16">Фирмен сайт до 3 страници</li>
        <li class="w3-padding-16">Административен панел</li>
        <li class="w3-padding-16">Техническа поддръжка</li>
        <li class="w3-padding-16">Оптимизация за търсачки SEO</li>
        <li class="w3-padding-16">Дизайн за всякакви устройства (Responsive Design)</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"> 399 лв</h2>
          <span class="w3-opacity"></span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Още</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme-l2">
          <p class="w3-xlarge">Среден Сайт</p>
        </li>
        <li class="w3-padding-16">Фирмен сайт тип блог 3+ страници</li>
        <li class="w3-padding-16">Административен панел</li>
        <li class="w3-padding-16">Техническа поддръжка</li>
        <li class="w3-padding-16">Оптимизация за търсачки SEO</li>
        <li class="w3-padding-16">Дизайн за всякакви устройства (Responsive Design)</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"> 599 лв</h2>
          <span class="w3-opacity"></span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Още</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Голям Сайт</p>
        </li>
        <li class="w3-padding-16">Бизнес сайт тип онлайн магазин</li>
        <li class="w3-padding-16">Административен панел</li>
        <li class="w3-padding-16">Техническа поддръжка</li>
        <li class="w3-padding-16">Оптимизация за търсачки SEO</li>
        <li class="w3-padding-16">Дизайн за всякакви устройства (Responsive Design)</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"> от 999 лв</h2>
          <span class="w3-opacity"></span>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Още</button>
        </li>
      </ul>
    </div>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Контакти</span></div>
      <h3></h3>
      <p></p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>   София, България</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>   <a href="tel:0879865867">0879 865 867</a> <i class='fab fa-viber' style='font-size:24px'></i></p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>   <a href="mailto:mshaklev@gmail.com">mshaklev@gmail.com</a></p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/" method="POST">
      <div class="w3-section">
        <label>Име:</label>
        <input class="w3-input" type="text" name="name" required>
      </div>
      <div class="w3-section">
        <label>Имейл:</label>
        <input class="w3-input" type="text" name="email" required>
      </div>
      <div class="w3-section">
        <label>Съобщение:</label>
        <input class="w3-input" type="text" name="message" required>
      </div>
      <button type="submit" class="w3-button w3-right w3-theme">Изпрати</button>
      </form>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<img src="static/pics/map.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Следвайте ни:</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>
</body>
</html>
